SECRET_KEY=super-secure-secret-key
JWT_SECRET_KEY=super-secure-jwt-secret-key-please-use-32-chars
MONGO_URI=mongodb://localhost:27017/edusex_ai
MONGO_DB_NAME=edusex_ai
EDUSEX_USE_MEMORY_DB=true
FLASK_DEBUG=true
FLASK_ENV=development
